<section scrolldown>
    <section>
        <div class="head-top hidden-xs">
            <img ng-src="{{headerAbout.image|uploadpath}}" alt="{{headerAbout.name}}" class="img-responsive give-height">
            <div class="mouse-scrolldown color-white text-center" ng-click="scrollDown();">
                <img src="frontend/img/scroll-down.png" alt="Renita">
            </div>
        </div>
    </section>
    <section class="hidden-lg hidden-md hidden-sm">
        <div class="head-top">
            <img ng-src="{{headerAbout.image1|uploadpath}}" alt="{{headerAbout.name}}" class="img-responsive w100 " auto-heightfixed>
            <div class="mouse-scrolldown color-white text-center" ng-click="scrollDown();">
                <img src="frontend/img/scroll-down.png" alt="Renita">
            </div>
        </div>
    </section>
    <div id="top-scroll"></div>
    <section class="second pt100">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="data-content">
                    <!-- <div class="data-content mt20 pb20"> -->
                        <p>
                          RENDER SKIN & HAIR (Previously Dr Renita Rajan Skin And Hair Clinic), at Nungambakkam, is an exclusive Skin and Hair Clinic, that caters to needs related to Aesthetic and Cosmetic Skin and Hair issues, Non surgical Cosmetic Treatments, LASER treatments, Dermatosurgery and Dermatology.
                        </p>
                        <p>
                          The Clinic maintains high standards of professionalism and ethics, and provides access to the best and the most advanced treatments for skin and hair problems. An aesthetic ambience, friendly staff, dermatologists trained at renowned institutions, and treatments based on proven clinical evidence are unique factors that help the Clinic enjoy a loyal clientele. The Clinic was ranked First among Skin Clinics in Chennai by the Times of India Lifestyle Clinics & Hospitals Survey 2015.
                        </p>
                    </div>
                </div>
            </div>
            <!-- <div class="row">
                <div class="bg-in">
                    <div class="col-md-2 col-sm-3 img-c">
                        <img src="img/medal.png" alt="" class="img-responsive img-c">
                    </div>
                    <div class="col-md-10 col-sm-9">
                        <div class="text-cn">
                            <h2 class="font-semi">Dr Renita Rajan Skin &amp; Hair Clinic was ranked First among Skin Clinics in Chennai by the Times
                                of India Lifestyle Clinics &amp; Hospitals Survey 2015.</h2>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="mt30">
                <h1 class="color-primary font-bold text-up">Our philosophy</h1>
                <p>We aim to bring in the latest treatments and techniques from around the world to our discerning clientele
                    in India.</p>
                <p>Be it formulating better and newer protocols for skin and hair treatments, customising available advances
                    to Indian skin, or bringing in brand new technology to India at large, and to Chennai in particular,
                    we strive today, to make tomorrow better than yesterday!</p>
                <p>We seek excellence in all that we do, success is simply a byproduct.
                </p>
            </div>
            <div class="mt30">
                <h1 class="color-primary font-bold text-up">What we actually do</h1>
                <p>We are a procedural dermatology clinic. What we mean by this is simple - where other conventional treatments
                    and medicines have not worked for a particular concern, we are able to offer procedure based solutions,
                    in accordance with evidence based medicine. </p>
                <p>To give an example, for pigmentation that is resistant to topical applications and is recalcritant to almost
                    any other mode of treatment, we would offer the option of laser pigment removal. For the frontal hair
                    loss of androgenetic alopecia, we would likely offer hair transplant, once the hair loss is stabilized,
                    choosing this option over continuing topical treatments alone. </p>
            </div>
            <div class="mt30">
                <h1 class="color-primary font-bold text-up">Why do we do this?</h1>
                <p>Because, with 80% of our clientele coming to us on a referral basis after having failed one or more conventional
                    therapies, it makes sense to offer procedures which have a better chance of treating the condition than
                    persist with older modalities.
                </p>
                <p>That said, we always stick to recommended guidelines based on established research and published information.
                    Continuing the above example, we would not offer hair transplant to someone with a compromised donor
                    density, as this would simply not work!</p>
                <p>Simply put, we just work hard to offer newer and emerging technology to our clientele, to maximize the clinical
                    outcome. We are deeply committed to our ethical stand. In our clinic, you will not find sales persons,
                    rather you will meet and be cared for, by medical and nursing professionals who have put in years of
                    training into their skills. We are always looking to improve our follow up services, and we welcome constructive
                    criticism in this regard. </p>
            </div>
            <div class="mt30 pb30">
                <div class="text-center">
                    <h4 class="color-primary font-semi">ALSO READ</h4>
                    <button type="button" name="button" class="outline-btn btn-padding2 f18" ui-sref="team">TEAM</button>
                    <button type="button" name="button" class="outline-btn btn-padding2 f18 mob-mtp" ui-sref="consultant">CONSULTANT</button>
                    <button type="button" name="button" class="outline-btn btn-padding2 f18" ui-sref="testimonial">TESTIMONIALS</button>
                </div>
            </div>
        </div>
    </section>
    <div class="back-to-top pull-right" scroll-to-item scroll-to="#top-scroll"> <img src="frontend/img/top-scroll.png" alt="Dharma Productions">
    </div>
</section>
