<section scrolldown>
  <section>
    <div class="head-top hidden-xs">
      <img ng-src="{{clinicPolicy.image|uploadpath}}" alt="{{clinicPolicy.name}}" class="img-responsive give-height" ng-if="clinicPolicy.image">
      <div class="mouse-scrolldown color-white text-center" ng-click="scrollDown();">
        <img src="frontend/img/scroll-down.png" alt="Renita">
      </div>
    </div>
  </section>
  <section class="hidden-lg hidden-md hidden-sm">
    <div class="head-top">
      <img ng-src="{{clinicPolicy.image1|uploadpath}}" alt="{{clinicPolicy.name}}" class="img-responsive w100 " auto-heightfixed ng-if="clinicPolicy.image1">
      <div class="mouse-scrolldown color-white text-center" ng-click="scrollDown();">
        <img src="frontend/img/scroll-down.png" alt="Renita">
      </div>
    </div>
  </section>
  <div id="top-scroll"></div>
  <section class="second pt100">
    <div class="container">
      <div class="row mt20">
        <div class="col-md-12">
          <div class="data-content  color-base pb20">
            <h1 class="color-primary font-bold text-up margin0">Practice Policy</h1>
            <ul class="pl20">
              <li>
                <p> We try our best to treat your concern in the best possible way, based on our experience. It is very well
                  possible that we succeed, but sometimes, it is also possible that we may not. While we strive to increase
                  our success percentage, we are unable to offer any guarantee on any procedure/ service / consultation.</p>
              </li>
              <li>
                <p> Many conditions take time to resolve. As much as we would want a speedy recovery, there is only so much that
                  we can push the human body to. Patience and understanding of your skin condition/ diagnosis is truly appreciated.</p>
              </li>
              <li>
                <p> Some treatments, like non surgical face lift, are spread out over time, and are offered in multiple sessions
                  – this is just how the treatment works. It would be unwise to expect results with a single session! Please
                  do check with the doctor/ nurse regarding the protocol that is suggested for you, before signing up for
                  the sessions/ paying for them.</p>
              </li>
              <li>
                <p> Pigmentation treatments involve good after care from your end of the bargain. Sun exposure will interfere
                  with outcomes, and you are encouraged to use sunscreen regularly. You are also encouraged to let your doctor
                  know, if you are unable to adhere to the after care, for any reason, so that the procedure can be rescheduled
                  for later.</p>
              </li>
              <li>
                <p> Hair loss treatments can give suboptimal results, if the recommended lifestyle modifications are not followed.</p>
              </li>
              <li>
                <p>Body shaping treatments, work best when you are able to maintain your body weight within the recommended
                  limits. Our treatments do not, and cannot, replace basic measures like a good diet and a regular exercise
                  regimen. Rather, our treatment complement your efforts, and help you tame the difficult bits.</p>
              </li>
              <li>
                <p> We wish to treat you like family, and offer you a great experience and some good results. It will encourage
                  us a lot if you are courteous and polite to us, too!.</p>
              </li>
              <li>
                <p> We are able to accommodate a maximum of 40 patients/ clients in a day. We may be able to accommodate more
                  in the future, but at this point, we feel that the above is a good number, as we do not want to compromise
                  on waiting time and quality.</p>
              </li>
              <li>
                <p>Please note that you are under NO COMPULSION, at any point in time, to undergo any treatment/ consultation
                  at our Clinic. We understand if you need second opinions, or want to have your procedure done elsewhere
                  .
                </p>
              </li>
              <li>
                <p>Despite all the terms and conditions here, we are on your side! We just want the best outcomes, so that we
                  both can be happy! </p>
              </li>
            </ul>
          </div>
          <div class="">
            <h1 class="color-primary font-bold text-up margin0">PAYMENT POLICY</h1>
            <div class="data-content color-base pb20">
              <ul class="pl20">
                <li>
                  <p>All consultations and treatments are to be paid for, BEFORE availing the service. This is to avoid ambiguity
                    and / or surprises later on.</p>
                </li>
                <li>
                  <p>All payments made will be acknowledged with a receipt, so please make sure to collect the same. We can
                    also mail your invoice to you, if you prefer so. </p>
                </li>
                <li>
                  <p>Payments are non transferable between individuals, except for some services. Please check with our front
                    desk BEFORE making any payment, for the same.</p>
                </li>
                <li>
                  <p>Refunds for payments made through the EDC, will be issued as cheques, and not as cash.</p>
                </li>
                <li>
                  <p>For procedures that involve blocking a time slot of more than 30 minutes, a non refundable advance has
                    to be made to book the slot. This is to avoid no shows/ delayed arrivals, which in turn upsets the schedule
                    of the day, causing delays to other patients/ clients.</p>
                </li>
              </ul>
            </div>
          </div>
          <div class="">
            <h1 class="font-bold color-primary text-up mt20">Making an appointment</h1>
            <p>Please note that all consultations and procedures are scheduled only on an appointment basis. We are unable to
              accommodate walk ins at this time. Appointments can only be fixed with the personnel at the clinic, either
              over phone, or email, with the latter being much preferred to avoid ambiguity. Appointments booked on any other
              portals/ sites will not be honoured. </p>
            <p>Appointments may not be available on days of hair transplant surgery/ acne scar surgery. Appointments for scheduled
              procedures like laser hair removal or chemical peels, will be blocked and intimated to you ahead. Should you
              wish to change/ modify your schedule, do let us know ahead.</p>
            <p>One of our top priorities at the clinic is to reduce your waiting time. We have made some good ground in this
              aspect over the years, but we are aware that this is a work in progress. Also medical situations beyond our
              control, sometimes end up upsetting the day’s schedule. However, we do not take your time or ours, lightly,
              and will continue to try our best to reduce the waiting time. It would be great if you can cooperate with us
              towards achieving this, any constructive comments in this regard, are most welcome.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="back-to-top pull-right" scroll-to-item scroll-to="#top-scroll"> <img src="frontend/img/top-scroll.png" alt="Renita">
  </div>
</section>
