<section scrolldown>
  <section>
    <div class="head-top hidden-xs">
      <img src="img/privacy.jpg" alt="Renita" class="img-responsive">
      <div class="mouse-scrolldown color-white text-center" ng-click="scrollDown();">
        <img src="frontend/img/scroll-down.png" alt="Renita">
      </div>
    </div>
  </section>
  <section class="hidden-lg hidden-md hidden-sm">
    <div class="head-top">
      <img src="img/m-bn.jpg" alt=" Renita" class="img-responsive w100" auto-heightfixed>
      <div class="mouse-scrolldown color-white text-center" ng-click="scrollDown();">
        <img src="frontend/img/scroll-down.png" alt="Renita">
      </div>
    </div>
  </section>
  <div id="top-scroll"></div>
  <section class="second">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="data-content color-base mt50 pb20">
            <h1 class="color-primary font-bold">PAYMENT POLICY</h1>
            <ul class="padding0 pl20">
              <li>
                <p>
                  All consultations and treatments are to be paid for, BEFORE availing the service. This is to avoid ambiguity and / or surprise
                  later on.
                </p>
              </li>
              <li>
                <p>
                  All payments made will be acknowledged with a receipt, so please make sure to collect the same.
                </p>
              </li>
              <li>
                <p>
                  Payments are non transferable between individuals, except for some services. Please check with our front desk BEFORE making
                  any payment, for the same.
                </p>
              </li>
              <li>
                <p>
                  Payments are non transferable between individuals, except for some services. Please check with our front desk BEFORE making
                  any payment, for the same.
                </p>
              </li>
              <li>
                <p>
                  Payments are non transferable between individuals, except for some services. Please check with our front desk BEFORE making
                  any payment, for the same.
                </p>
              </li>
              <li>
                <p>
                  For procedures that involve blocking a time slot of more than 30 minutes, a non refundable advance has to be made to book
                  the slot. This is to avoid no shows/ delayed arrivals, which in turn upsets the schedule of the day, causing
                  delays to other patients/ clients.
                </p>
              </li>
            </ul>
            <h1 class="font-bold color-primary text-up mt20">Parking</h1>
            <ul class="padding0 pl20">
              <li>
                <p>
                  Parking space is available on prior booking. We have only a few slots available, so please make sure to inform us ahead.
                </p>
              </li>
              <li>
                <p>
                  Parking space is also available on Shastri Bhavan Road, on the right shoulder.
                </p>
              </li>
              <li>
                <p>
                  We hope to introduce valet parking shortly.
                </p>
              </li>
              <li>
                <p>
                  The clinic is not responsible for any damage to the cars while ….?
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="back-to-top pull-right" scroll-to-item scroll-to="#top-scroll"> <img src="frontend/img/top-scroll.png" alt="Renita">
  </div>
</section>
