<section scrolldown>
    <section>
        <div class="head-top">
            <img src="img/banner/vit-in.jpg" alt="Renita" class="img-responsive">
            <div class="mouse-scrolldown color-white text-center" ng-click="scrollDown();">
                <img src="frontend/img/scroll-down.png" alt="Renita">
            </div>
        </div>
    </section>
    <section class="mt50 second">
        <div class="container">
            <div class="row">
                <div class="data">
                    <p>A thin layer of skin is shaved off from the donor area and grafted. Larger areas can be covered in comparison
                        with suction blister grafting and minipunch grafting. Procedure is also less time consuming.</p>
                    <h4 class="color-brown font-semi">Smash grafting</h4>
                    <p>Smashed skin grafting is a modification of ultrathin skin grafting. The shaved off graft is smashed into
                        smaller pieces and applied over dermabraded donor area. Procedure is simple and quick. The graft
                        size taken is also smaller when compared with ultrathin skin grafting.</p>
                    <h4 class="color-brown font-semi">Hair follicular grafting</h4>
                    <p>Follicular units are extracted from the occiput and implanted in depigmented skin involving hairy areas
                        of the body. The pigment match is after repigmentation is good. As the pigment spread is limited
                        from each follicular unit, the grafts have to be closely placed and the procedure is not applicable
                        to non-hairy skin.</p>
                </div>
            </div>
            <div class="row mt20">
                <div class="col-md-3">
                    <div class="tab-list">
                        <ul class="padding0 margin0">
                            <li class="{{classp}}" ng-click="tabchanges('first',1)"><a href="">Tissue Grafting</a></li>
                            <li class="{{classv}}" ng-click="tabchanges('second',2)"><a href="">Cellular Grafting</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="tabs pb20">
                        <div class="first" ng-if="tabs=='first'">
                            <div class="data-title">
                                <h4 class="color-brown font-semi margin0">TISSUE GRAFTING</h4>
                            </div>
                            <div class="data-main">
                                <h4 class="color-brown font-semi">Miniature punch grafting</h4>
                                <p>Small punches of skin from retro-auricular or thigh is taken and grafted on recipient area
                                    of depigmented skin. Smaller punches are used to avoid cobble stoning. The procedure
                                    is quite simple and requires relatively lesser time.
                                </p>
                                <div class="data-image">
                                    <div class="img-box1">
                                        <img src="img/data-img.jpg" alt="Renita" class="img-responsive">
                                    </div>
                                </div>
                                <h4>Suction blister grafting</h4>
                                <p>Blisters are created using negative pressure with syringes. Blister roofs are cut from the
                                    donor area and grafted to the recipient site prepared using dermabrasion. Advantages
                                    include uniform appearance without cobble stoning but the procedure is time consuming
                                    and cannot be done for larger areas.</p>
                                <h4>Ultrathin skin grafting</h4>
                                <p>A thin layer of skin is shaved off from the donor area and grafted. Larger areas can be covered
                                    in comparison with suction blister grafting and minipunch grafting. Procedure is also
                                    less time consuming.</p>
                                <h4>Smash grafting</h4>
                                <p>Smashed skin grafting is a modification of ultrathin skin grafting. The shaved off graft
                                    is smashed into smaller pieces and applied over dermabraded donor area. Procedure is
                                    simple and quick. The graft size taken is also smaller when compared with ultrathin skin
                                    grafting.
                                </p>
                                <div class="data-image">
                                    <div class="img-box1">
                                        <img src="img/data-img2.jpg" alt="Renita" class="img-responsive">
                                    </div>
                                </div>
                                <h4>Hair follicular grafting</h4>
                                <p>Follicular units are extracted from the occiput and implanted in depigmented skin involving
                                    hairy areas of the body. The pigment match is after repigmentation is good. As the pigment
                                    spread is limited from each follicular unit, the grafts have to be closely placed and
                                    the procedure is not applicable to non-hairy skin.</p>
                            </div>
                        </div>
                        <div class="first" ng-if="tabs=='second'">
                            <div class="data-title">
                                <h4 class="color-brown font-semi margin0">TISSUE GRAFTING</h4>
                            </div>
                            <div class="data-main">
                                <h4>Miniature punch grafting</h4>
                                <p>Small punches of skin from retro-auricular or thigh is taken and grafted on recipient area
                                    of depigmented skin. Smaller punches are used to avoid cobble stoning. The procedure
                                    is quite simple and requires relatively lesser time.
                                </p>
                                <div class="data-image">
                                    <div class="img-box1">
                                        <img src="img/data-img.jpg" alt="Renita" class="img-responsive">
                                    </div>
                                </div>
                                <h4>Suction blister grafting</h4>
                                <p>Blisters are created using negative pressure with syringes. Blister roofs are cut from the
                                    donor area and grafted to the recipient site prepared using dermabrasion. Advantages
                                    include uniform appearance without cobble stoning but the procedure is time consuming
                                    and cannot be done for larger areas.</p>
                                <h4>Ultrathin skin grafting</h4>
                                <p>A thin layer of skin is shaved off from the donor area and grafted. Larger areas can be covered
                                    in comparison with suction blister grafting and minipunch grafting. Procedure is also
                                    less time consuming.</p>
                                <h4>Smash grafting</h4>
                                <p>Smashed skin grafting is a modification of ultrathin skin grafting. The shaved off graft
                                    is smashed into smaller pieces and applied over dermabraded donor area. Procedure is
                                    simple and quick. The graft size taken is also smaller when compared with ultrathin skin
                                    grafting.
                                </p>
                                <div class="data-image">
                                    <div class="img-box1">
                                        <img src="img/data-img2.jpg" alt="Renita" class="img-responsive">
                                    </div>
                                </div>
                                <h4>Hair follicular grafting</h4>
                                <p>Follicular units are extracted from the occiput and implanted in depigmented skin involving
                                    hairy areas of the body. The pigment match is after repigmentation is good. As the pigment
                                    spread is limited from each follicular unit, the grafts have to be closely placed and
                                    the procedure is not applicable to non-hairy skin.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>